<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>	
		<div th:fragment="block-header" class="container collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}"> Russian Fishing 4</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/fishList}">Fish list</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/locationList}">Location list</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/lureList}">Lure list</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/catchList}">Catch list</span></a>
				</li>
			</ul>
		</div>
	</body>
</html>