body {
	background-color: #c6cccf;
}

.navbar-nav .nav-link {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
}

.div-scroll {
	margin-top: 80px;
	max-height: 800px;
	overflow: auto;
}

.scrollable table {
	overflow-y: auto;
	height: 50vh;
}

.scrollable thead {
	background-color: white;
	position: sticky;
	top: 0;
}