<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
	<head>
	</head>
	<body>
		<div layout:fragment="content">
			<table class="table table-bordered table-responsive scrollable">
				<thead>
					<form action="#" th:action="@{/catchList}" th:object="${catchSearchParameter}" method="post">
						<tr>
							<th><input type="text" th:field="*{locationName}" /></th>
			                <th><input type="text" th:field="*{fishName}" />
			                Exact <input type="checkbox" name="exactFishName" th:checked="*{exactFishName}" /></th>
			                <th></th>
			                <th><input type="text" th:field="*{lureName}" />
			                Exact <input type="checkbox" name="exactLureName" th:checked="*{exactLureName}" />
			                Not <input type="checkbox" name="notLureName" th:checked="*{notLureName}" /></th>
			                <th><input type="date" th:field="*{dt}" th:value="*{#dates.format(dt, 'dd/MM/YY')}" /></th>
			                <th><input type="submit" value="Search" /></th>
						</tr>
					</form>
		            <tr>
		                <th>Location</th>
		                <th>Fish</th>
		                <th>Weight kg</th>
		                <th>Lure</th>
		                <th>Date</th>
		                <th>Region</th>
		            </tr>
				</thead>
				<tbody>
					<tr th:each="catch : ${catchList}">
			            <td th:text="${catch.location.name}"></td>
			            <td th:text="${catch.fish.name}"></td>
			            <td th:text="${#numbers.formatDecimal(catch.weightKg,1,3,'COMMA')}" align="right"></td>
			            <td th:text="${catch.lure.name}"></td>
			            <td th:text="${#dates.format(catch.dt, 'dd/MM/YY')}" align="center"></td>
			            <td th:text="${catch.region}" align="center"></td>
			        </tr>
				</tbody>
			</table>                      
		</div>
	</body>
</html>