<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">

<head>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col" th:each="fishInfo : ${fishList}" style="padding-top: 25px;">
				<div class="card text-center border-dark" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title" th:text="${fishInfo.fish.name}"></h5>
						<a th:href="@{/catchList(fishParam=${fishInfo.fish.name})}" class="btn btn-light btn-outline-dark rounded-circle"><img th:src="${fishInfo.fish.icon}" /></a>
						<div>Max weight <div class="d-inline-block" th:text="${fishInfo.maxWeight}"></div> kg</div>
						<div>Count <div class="d-inline-block" th:text="${fishInfo.count}"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>