<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
	<head>
	</head>
	<body>
    	<div layout:fragment="content">
			<table class="table table-bordered table-responsive">
				<tbody>
					<tr th:each="fish : ${fishList}">
			            <td>
							<div class="col-1 mycard">
								<div class="card m-2">
									<img th:src="${fish.icon}" class="card-img-top">
									<div class="card-body">
										<h6 class="card-title" th:text="${fish.name}"></h6>
										<a th:href="@{/catchList(fishParam=${fish.name})}" class="btn btn-primary">Go</a>
									</div>
								</div>                        
							</div>
						</td>
			        </tr>
				</tbody>
			</table>
		</div>
	</body>
</html>